html {background: rgba(0, 0, 0, 0.7); } 
body{
    min-height: 20vh;
    max-width: 500px;
    padding-top: 100px;
    text-align: center;
    background-color: white; 
    margin: 6% auto;
}
:root{
    --blue: #0080ff
}
a:hover{
    color: var(--blue);
}
.btn{
    display: inline-block;
    color: var(--blue);
    border: .1rem solid var(--blue);
    cursor: pointer;
    background: rgba(255, 165, 0, .2);
}
.btn:hover{
    color: #fff;
    background: var(--blue);
}
a{
    text-decoration: none;
}