:root{
    --blue: #0080ff
}

*{
    font-family: poppins ,sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-transform: capitalize;
    border:none ;
    text-decoration: none;
    transition: all .5s linear;
}
html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
}
header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background:black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
    padding: 2rem 9%;
}
header .logo{
    font-size: 2.5rem;
    font-weight: bolder;
    color: #fff;
    text-transform: uppercase;
}
header .logo span{
    color: var(--blue);
}
header .navbar a{
    color: #fff;
    font-size: 2rem;
    margin: 0 .8rem;
}

header .navbar a:hover{
    color: var(--blue);
}
header .icons i{
    font-size: 2.5rem;
    color: #fff;
    cursor: pointer;
    margin-right: 2rem;
}
header .icons i:hover{
    color: var(--blue);
}
header .search-form{
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background: #333;
    display: flex;
    align-items: center;
    z-index: 1001;
    padding: 1.5rem 2rem;
    border-top: .1rem solid rgba(255, 255, 255, .2);
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
}
header .search-form.active{
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}
header .search-form #search-field{
    width: 100%;
    padding: 1rem;
    color: #333;
    font-size: 1.7rem;
    border-radius: .5rem;
}
header .search-form label{
    color: #fff;
    cursor: pointer;
    font-size: 3rem;
    margin-left: 1.5rem;
}
header .search-form label:hover{
    color: var(--blue);
}

.login-form{
    position: fixed;
    top: -120%;
    left: 0;
    min-height: 100vh;
    width: 100%;
    background: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10000;
}
.login-form.active{
    top: 0;
}
.login-form #form-close{
    position: absolute;
    top: 2rem;
    right: 3rem;
    font-size: 5rem;
    color: #fff;
    cursor: pointer;
}
.login-form form{
    margin: 2rem;
    padding: 1.5rem 2rem;
    border-radius: .5rem;
    background: #fff;
    width: 50rem;
}
.login-form form h3{
    font-size: 3rem;
    color: green;
    text-transform: uppercase;
    padding:1rem 0;
    text-align: center;
}
.login-form form .box{
    width: 100%;
    padding: 1rem;
    font-size: 1.7rem;
    color: #333;
    margin: .6rem 0;
    border: .1rem solid rgba(0, 0, 0, 0.3);
    text-transform: none;
}
.btn{
    display: inline-block;
    margin-top: 1rem;
    color: var(--blue);
    padding: .8rem 3rem;
    border: .2rem solid var(--blue);
    cursor: pointer;
    font-size: 1.7rem;
    background: rgba(255, 165, 0, .2);
}.btn:hover{
    color: #fff;
    background: var(--blue);
}
.login-form form .btn{
    display: block;
    width: 100%;
}
.login-form form #remember{
    margin: 2rem 0;
}
.login-form form label{
    font-size: 1.5rem;
}
.login-form form p{
    padding: .5rem 0;
    font-size: 1.5rem;
    color: #666;
}
.login-form form p a{
    color: var(--blue);
}
body{
    background-image:url("g-9.jpg");
    background-repeat:no-repeat;
    background-size: 100%;
}
.reg{
    width : 360px;
    height: 620px;
    margin: auto;
    background-color: white;
    border-radius: 3px ;

}
.h{
    text-align: center;
    padding-top: 15px;

}
.f{
    width : 300px;
    margin-left: 20px ;
}
.f label{
    display: flex;
    margin-top: 20px;
    font-size: 18px;
}
.f input{
    /* width :300px; */
    padding: 7px;
    border: 1px solid gray;
    border-radius: 6px;
    outline: none;
}
#name , #pass , #cpass , #phone , #email , #gender , #date{
    width:100%;
}
.s{
    min-width: 320px;
    height: 35px;
    margin-top: 20px;
    background-color: #49c1a2;
    color: white;
    font-size: 18px;
}
